<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deletar Pessoa</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Deletar Pessoa</h1>
    <p>Tem certeza de que deseja excluir {{ pessoa.nome }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Sim, deletar</button>
    </form>
    <div class="center-container">
        <a href="{% url 'listar_pessoas' %}">Cancelar</a>
    </div>
</body>
</html>
